@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* Global */
:root {
  --primary: #5DA6A6;
  --secondary: #244040;
  --dark: #011F26;
  --offwhite: #F2F2F2;
  --overlay: rgba(1, 31, 38, 0.9);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: 'Open Sans', sans-serif;
  color: var(--dark);
  line-height: 1.7;
  letter-spacing: 1px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1.5rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
}

.btn {
  display: inline-block;
  background: none;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 0.5rem 0.7rem;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.from-right {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.from-left, .from-right {
  opacity: 0;
  -webkit-transition: 
    opacity 400ms ease-in, 
    background 300ms ease-in-out,
    border 300ms ease-in-out, 
    -webkit-transform 400ms ease-in;
  transition: 
    opacity 400ms ease-in, 
    background 300ms ease-in-out,
    border 300ms ease-in-out, 
    -webkit-transform 400ms ease-in;
  -o-transition: 
    opacity 400ms ease-in, 
    transform 400ms ease-in,
    background 300ms ease-in-out,
    border 300ms ease-in-out;
  transition: 
    opacity 400ms ease-in, 
    transform 400ms ease-in,
    background 300ms ease-in-out,
    border 300ms ease-in-out;
  transition: 
    opacity 400ms ease-in, 
    transform 400ms ease-in,
    background 300ms ease-in-out,
    border 300ms ease-in-out, 
    -webkit-transform 400ms ease-in
}

.from-left.appear, .from-right.appear {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

/* Top */
.top {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
}

.top .video-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Top > Header */
.top header .container {
  position: relative; /* Navigation reference */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.top header .container h1.brand {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

/* Navigation */
.top nav {
  position: absolute;
  top: 0;
  right: -300px;
  z-index: 1;
  width: 300px;
  height: 100%;
  background-color: var(--dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50% 0 0 50%;
  -webkit-transition: right 0.5s ease-in-out;
  -o-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
}

.top nav.nav-shift {
  right: 0;
}

.top header .container .hamburger-menu {
  width: 35px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top header .container .hamburger-menu .line {
  width: 100%;
  height: 3px;
  background-color: var(--offwhite);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.top header .container .hamburger-menu.line-transition .line-1 {
  -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
      -ms-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotateZ(-45deg) translate(-8px, 6px);
}

.top header .container .hamburger-menu.line-transition .line-3 {
  -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
      -ms-transform: rotate(45deg) translate(-8px, -6px);
          transform: rotateZ(45deg) translate(-8px, -6px);
}

.top header .container .hamburger-menu.line-transition .line-2 {
  opacity: 0;
}

.top nav .nav-list {
  text-align: center;
}

.top nav .nav-list .nav-item {
  margin: 3rem;
  list-style: none;
}

.top nav .nav-list .nav-item .nav-link {
  position: relative;
  padding: 0.5rem 0;
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.top nav .nav-list .nav-item .nav-link::before,
.top nav .nav-list .nav-item .nav-link::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.top nav .nav-list .nav-item .nav-link::before {
  top: 0;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.top nav .nav-list .nav-item .nav-link::after {
  bottom: 0;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.top nav .nav-list .nav-item .nav-link:hover::before,
.top nav .nav-list .nav-item .nav-link:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1)
}

/* Top > Hero */
.top .hero {
  height: 100%;
}

.top .hero .container {
  height: 100%;
}

.top .hero .container .hero-inner {
  margin-top: -10vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.top .hero .container .hero-inner h2 {
  font-size: 1.8rem;
}

.top .hero .container .hero-inner .btn:hover {
  background: var(--primary);
  border: 1px solid var(--primary);
}

/* About */
.about {
  background: var(--offwhite);
}

.about .container .about-inner {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about .container .about-inner > * {
  width: 100%;
}

.about .container .about-inner h3 {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.about .container .about-inner p {
  font-weight: 300;
 }

/* Strategy */
.strategy .container .strategy-inner {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.strategy .container .strategy-inner h3 {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.strategy .container .strategy-inner h4 {
  width: 70%;
  margin-bottom: 1rem;
  padding-bottom: 0.6rem;
  border-bottom: 4px solid var(--primary);
  font-size: 1.1rem;
  font-weight: 400;
}

.strategy .container .strategy-inner p {
  font-weight: 300;
}

/* Services */
.services::before {
  position: absolute;
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('assets/office.jpg') no-repeat center center/cover;
  -webkit-filter: grayscale(50%) blur(1px) brightness(50%);
          filter: grayscale(50%) blur(1px) brightness(50%);
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03); /* Prevent blur on section edges */
}

.services {
  position: relative;
  overflow: hidden; /* Prevent blur on section edges */
  -webkit-clip-path: polygon(0 5vw, 100% 0, 100% calc(100% - 5vw), 0 100%);
          clip-path: polygon(0 5vw, 100% 0, 100% calc(100% - 5vw), 0 100%);
}

.services .container {
  padding-top: 6rem;
  margin-top: -6rem;
}

.services .container .services-inner {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.services .container .services-inner .card {
  margin-bottom: 1.5rem;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 2rem 0.6rem 1rem;
  color: #fff;
  text-align: center;
}

.services .container .services-inner .card i {
  font-size: 1.8rem;
}

.services .container .services-inner .card h3 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.services .container .services-inner .card p {
  font-weight: 300;
}

/* Values */
.values .container .values-inner {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.values .container .values-inner h3 {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.values .container .values-inner h4 {
  width: 70%;
  margin-bottom: 1rem;
  padding-bottom: 0.6rem;
  border-bottom: 4px solid var(--primary);
  font-size: 1.1rem;
  font-weight: 400;
}

.values .container .values-inner p {
  font-weight: 300;
}

/* Testimonials */
.testimonials {
  background: var(--offwhite);
}

.testimonials .container .testimonials-inner {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.testimonials .container .testimonials-inner .testimonial {
  width: 100%;
  margin-bottom: 3rem;
}

.testimonials .container .testimonials-inner .testimonial .testimonial-quote {
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0.7rem;
}

.testimonials .container .testimonials-inner .testimonial .testimonial-name {
  margin-bottom: 0;
}

/* Contact */
.contact {
  background: var(--primary);
  color: #fff;
  text-align: center;
}

.contact .container .contact-inner {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact .container .contact-inner .btn:hover {
  background: var(--secondary);
  border: 1px solid var(--secondary);
}

/* Footer */
.footer {
  background: var(--dark);
  color: #fff;
  text-align: center;
}

.footer .container .footer-inner {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer .container .footer-inner .license {
  margin-bottom: 0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer .container .footer-inner .social i {
  margin: 1rem;
  font-size: 1.2rem;
}

/* Small Tablet */
@media (min-width: 500px) {
  /* Services */
  .services .container {
    max-width: 60%;
  }
}

/* Tablet */
@media (min-width: 700px) {
  /* Top > Hero */
  .top .hero .container .hero-inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  /* About */
  .about .container .about-inner {
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .about .container .about-inner > * {
    padding: 1rem;
  }

  /* Strategy */
  .strategy .container .strategy-inner {
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  .strategy .container .strategy-inner h3 {
    text-align: center;
    font-size: 1.6rem;
  }

  .strategy .container .strategy-inner .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .strategy .container .strategy-inner .steps .step {
    padding: 1rem;
  }

  /* Services */
  .services .container {
    max-width: 1100px;
  }

  .services .container .services-inner {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .services .container .services-inner .card {
    width: 100%;
    margin: 0.5rem;
    padding: 2rem 1rem;
  }

  .services .container .services-inner .card h3 {
    font-size: 1rem;
  }

  .services .container .services-inner .card p {
    margin-bottom: 0;
    font-size: 0.9rem;
  }

  /* Values */
  .values .container .values-inner {
    margin-top: 4rem;
    margin-bottom: 6rem;
  }

  .values .container .values-inner h3 {
    text-align: center;
    font-size: 1.6rem;
  }

  .values .container .values-inner .values-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .values .container .values-inner .values-grid .value {
    width: 100%;
    padding: 1rem;
  }

  /* Testimonials */
  .testimonials {
    background: var(--offwhite);
  }

  .testimonials .container .testimonials-inner {
    margin-top: 6rem;
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .testimonials .container .testimonials-inner .testimonial {
    width: 100%;
    padding: 1rem;
  }

  /* Contact */
  .contact .container .contact-inner {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contact .container .contact-inner p {
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .contact .container .contact-inner > * {
    margin: 0 2rem;
  }

  /* Footer */
  .footer .container .footer-inner {
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Desktop */
@media (min-width: 900px) {
  /* About */
  .about .container .about-inner > * {
    padding: 1.5rem;
  }

  /* Strategy */
  .strategy .container .strategy-inner .steps .step {
    padding: 2rem;
  }

  /* Services */
  .services .container .services-inner {
    margin-top: 15rem;
    margin-bottom: 15rem;
  }

  .services .container .services-inner .card {
    margin: 1rem;
  }

  .services .container .services-inner .card h3 {
    font-size: 1.3rem;
  }

  .services .container .services-inner .card p {
    font-size: 1rem;
  }

  /* Values */
  .values .container .values-inner .values-grid .value {
    padding: 2rem;
  }

  /* Testimonials */
  .testimonials .container .testimonials-inner .testimonial {
    padding: 2rem;
  }
}