@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
  --primary: #2d2254;
  --secondary: #F3D935;
  --text-color: #c5bbec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 1.6;
}

h1, h2, h3, p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background: var(--secondary);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.btn:hover {
  transform: scale(0.98);
}

.secondary-text {
  color: var(--secondary);
}

section {
  position: relative;
  padding: 0 2rem;
}

/* Section Top */
.section-top {
  min-height: 500px;
  background: url('./images/kitchen1.jpg') no-repeat center center/cover;
}

.section-top p {
  font-size: 4rem;
  line-height: 1.3;
}

.section-top .content {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 50%;
}

/* Section Services */
.section-services {
  min-height: 700px;
}

.section-services h2 {
  font-size: 2rem;
}

.section-services .content {
  position: absolute;
  width: 50%;
  top: 100px;
  right: 70px;
}

.section-services .content > div, .section-testimonial > div {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
}

/* Section Testimonial */
.section-testimonial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  text-align: center;
}

.section-testimonial p {
  color: var(--text-color);
}

/* Footer */
.footer {
  margin-top: 20px;
  padding: 30px;
  border-top: var(--text-color) 1px solid;
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}


/* Mobilr */
@media (max-width: 700px) {
  .section-top .content,
  .section-services .content {
    position: static;
    width: 100%;
  }

  .section-top {
    min-height: 200px;
    padding-top: 20px;
  }

  .section-top .content {
    text-align: center;
  }

  .section-top .content p {
    font-size: 2rem;
  }

  .footer ul {
    display: block;
  }
}